/* ============ General Styles ============ */
@font-face {
  font-display: swap;
  font-family: "Epilogue";
  font-weight: 500;
  src: url("../fonts/epilogue-v17-latin-500.woff2") format("woff2"),
    url("../fonts/epilogue-v17-latin-500.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Epilogue";
  font-weight: 700;
  src: url("../fonts/epilogue-v17-latin-700.woff2") format("woff2"),
    url("../fonts/epilogue-v17-latin-700.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  display: block;
  height: 100%;
}
body {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  background-color: #f2f2f2;
}
main {
  flex-grow: 1;
}
img {
  display: block;
}
.container {
  width: 1360px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ============ Header Styles ============ */
.header__inner {
  padding-top: 1.313rem;
  display: flex;
  justify-content: space-between;
}
.header__wrapper {
  width: 32.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__img {
  margin-right: 1.375rem;
}
.menu__list {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.menu__item {
  margin-left: 2.5rem;
}
.menu__item--dropdown {
  position: relative;
}
.menu__item--dropdown:hover .dropdown-list {
  display: block;
  animation: animate 3s ease;
}
.menu__link {
  line-height: 1rem;
  color: #686868;
  text-decoration: none;
}
.menu__link--dropdown {
  display: flex;
  align-items: center;
}
.menu__link--dropdown::after {
  display: block;
  content: "";
  background-image: url("../images/drop-down-icon.svg");
  background-size: contain;
  height: 8px;
  width: 8px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 9px;
}
.dropdown-list {
  display: none;
  position: absolute;
  right: 0px;
  margin-top: 1.25rem;
  padding-left: 0;
  list-style: none;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
  border-radius: 10px;
}
.dropdown-list--modified {
  width: 7.25rem;
  position: absolute;
  right: 0px;
}
.dropdown-link {
  display: flex;
  align-items: center;
  /* display: inline-block; */
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #686868;
  margin-top: 1rem;
}
.dropdown-link--todo {
  margin-top: 0;
}
.dropdown-link--todo::before {
  display: block;
  margin-right: 15px;
  content: "";
  background-image: url("../images/todo-list-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 14px;
  height: 16px;
}
.dropdown-link--calendar::before {
  display: block;
  margin-right: 15px;
  content: "";
  background-image: url("../images/calendar-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
}
.dropdown-link--reminders::before {
  display: block;
  margin-right: 15px;
  content: "";
  background-image: url("../images/bell-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 16px;
}
.dropdown-link-planning::before {
  display: block;
  margin-right: 15px;
  content: "";
  background-image: url("../images/clock-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
}
.dropdown-link--nomargin {
  margin-top: 0;
}
.link {
  display: inline-block;
  text-decoration: none;
  line-height: 1rem;
  color: #686868;
  padding: 0.813rem;
  text-align: center;
  border: 1.5px solid #686868;
  border-radius: 0.875rem;
  width: 104px;
}
.link--noborder {
  border: none;
}
/* ============ Main Styles ============ */
/* ============ Section Styles ============ */
/* ============ Footer Styles ============ */
